.wizard-content {
  padding: 24px;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.steps-indicator {
  margin-bottom: 24px;
}

.steps-indicator
  .ant-steps-item-process
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title:after,
.steps-indicator
  .ant-steps-item-wait
  > .ant-steps-item-container
  > .ant-steps-item-content
  > .ant-steps-item-title:after {
  background-color: rgba(0, 0, 0, 0.25);
}

.steps-content {
  min-height: 420px;
  margin-top: 16px;
  padding: 36px 24px;
  background-color: #fafafa;
  border: 1px dashed #e9e9e9;
  border-radius: 2px;
}

.steps-action {
  margin-top: 24px;
  height: 32px;
  text-align: right;
}
