.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.2);
}

label.huge-radio.ant-radio-button-wrapper {
  height: auto;
  padding: 30px;
  line-height: 1.5em;
  margin-bottom: 15px;
}

label.huge-radio.ant-radio-button-wrapper h3,
label.huge-radio.ant-radio-button-wrapper p {
  margin: 0;
}

.huge-radio-icon {
  font-size: 2em;
  margin-bottom: 15px;
}

.huge-radio-group {
  text-align: center;
  margin-top: 40px;
}

.ant-descriptions-item-label {
  font-weight: bold;
}
