.main-header {
  width: 100%;
  z-index: 100;
  padding: 0 24px;
}

.main-header-logo {
  float: left;
  width: 150px;
  height: 31px;
  margin: 8px 0 16px;
  background: rgba(255, 255, 255, 0.2);
}

.main-header-menu {
  justify-content: right;
}
