.header {
  width: 100%;
  z-index: 100;
  padding: 0 24px;
}

.header-logo {
  float: left;
  align-items: center;
  display: flex;
  font-weight: 700;
}

.header-menu {
  flex-direction: row-reverse;
}

.header-logo-image {
  width: 32px;
  height: 32px;
  margin-right: 0.5rem;
}

.header-logo-title {
  letter-spacing: 1px;
  font-family: Barlow, Fira Sans, sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
  color: var(--capact-white);
}
